<p>here</p>


<ng-container>
  <button class="btn btn-primary mr-3" (click)="get500Error()"> test 500 error

  </button>


  <button class="btn btn-primary mr-3" (click)="get400Error()"> test 400 error

  </button>


  <button class="btn btn-primary mr-3" (click)="get404Error()"> test 404 error

  </button>

  <button class="btn btn-primary mr-3" (click)="get401Error()"> test 401 error

  </button>


  <button class="btn btn-primary mr-3" (click)="get400ValidationError()"> test 400 Validation

  </button>

{{validationErrors.length}}
  <div class="mt-5" *ngIf="validationErrors.length >0 ">
    <ul>
      <li *ngFor="let error of validationErrors">
         {{error}}
      </li>
    </ul>

  </div>
</ng-container>
